.description {
    z-index: 0;
    position: absolute;
    bottom: 30vh;
    text-align: right;
    right: 10px;
    width: 80%;
}

.description span {
    line-height: 50px;
}


@media only screen and (min-width: 600px) {
    .description {
        font-size: 30px;
        right: 50px;
    }

    .description span {
        line-height: 80px;
    }
}