.intro-img {
    width: 100%;
    height: 40vh;
    /* border: white solid 1px; */
    background-image: url("/assets/back_1.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.header {
    position: absolute;
    bottom: 20px;
    right: 0;
    padding: 10px;
    z-index: 10;
    background-color: var(--main-tr);
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--second-color);
    font-family: Roboto Mono;
    border-top: var(--second-color) 2px solid;
    font-size: 24px;
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    display: none;
}

#menu a {
    text-align: left;
    padding: 5px;
    border-bottom: blue 1px solid;
}

.stickyHeader {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
}

@media only screen and (min-width: 600px) {
    #menu {
        display: flex;
    }

    .intro-img {
        background-size: contain;
        height: 100vh;
    }
}